<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="#">Home</a></li>
            <li><a routerLink="/all-books">All Books</a></li>
            <li><a routerLink="/issued-books">My Books</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Testimonial</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href=""><button class="btn">Log Out</button></a></li>
        </ul>
        <h1 class="logo">Ananya's Library</h1>
    </div>
</nav>
