.btn {
	background-color: black;
	color: white;
	padding: 10px 20px; 
    margin-top: -4px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    font-size: 1rem;
  }
  
  .btn:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
	font-style: italic;
  }

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.nav1{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.nav1 a{
    padding: 1em;
    border: none;
    border-right: 1px solid #adb5bd;
    color: #adb5bd;
    font-size: 1em;
    text-decoration: none;
}
.nav1 input{
    border: none;
    margin-left: 0.5em;
    padding: 0.8em 1em;
    font-size: 1em;
}
.nav1 input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #adb5bd;
    font-size: 1em;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.nav-bar h3{
    padding: 0.8em 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
}
.icon-about{
    display: flex;
    align-items: center;
}
.material-icons-outlined{
    color: #adb5bd;
    size: 2px;
    margin-right: 1em;

}
.icon-about a{
    margin-right: 2em;
    text-decoration: none;
    color: #adb5bd;
    font-size: 1em;
    border-left: 1px solid #adb5bd;
    padding-left: 1em;
}

