<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ananya's Online Library</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <div class="content">
        <h2>Welcome to Ananya's Online Library</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          quam magnam obcaecati error consequatur repellat fugiat, deleniti nisi
          eum voluptates.
        </p>
        <ul class="counter">
          <li>
            <h3><i class="fa-solid fa-book"></i>68+k</h3>
            <span>book collections</span>
          </li>
          <li>
            <h3><i class="fa-solid fa-user"></i>25,634</h3>
            <span>customers</span>
          </li>
        </ul>
        <div class="buttons">
          <a routerLink="/all-books">
            <button  class="btn" >
              Go to My Collections <i class="fa-solid fa-arrow-right"></i>
            </button>
          </a>
          <a routerLink="/admin">
            <button  class="btn" >
              Admin Dashboard <i class="fa-solid fa-arrow-right"></i>
            </button>
          </a>
        </div>
        
      </div>

      <div class="swiper-container">
        <div class="imgLoader"></div>
        <div class="container">
          <div class="book">
            <div class="gap"></div>
            <div class="pages">
              <div class="page"></div>
              <div class="page"></div>
              <div class="page"></div>
              <div class="page"></div>
              <div class="page"></div>
              <div class="page"></div>
            </div>
            <div class="flips">
              <div class="flip flip1">
                <div class="flip flip2">
                  <div class="flip flip3">
                    <div class="flip flip4">
                      <div class="flip flip5">
                        <div class="flip flip6">
                          <div class="flip flip7"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          Crafted with <span class="heart"> ❤ </span> by
          <a class="footer" href="https://github.com/ananya-gta">
            Ananya Gupta
          </a>
          &copy; 2024
        </div>
      </div>
      <div class="circle"></div>
    </main>
  </body>
</html>
